{% extends "blog/base.html" %}
{% block content %}
<article class="media content-section">
    <div class="media-body">

        <h2>{{object}}<h2>
        <img class="rounded-circle account-img" src="{{object.image.url}}">
            <form action = "{% url 'profile-follow' profile.pk %}" method="POST">
                {% csrf_token %}
        {% if follow %}
                <button type="submit",  name="profile_id" , value ="{{ profile.id }}" , class="btn btn-danger mt-1 mb-1">Unfollow </button>
        {% else %}
                <button type="submit",  name="profile_id" , value ="{{ profile.id }}" , class="btn btn-success mr-3"> Follow </button>
        {% endif %}
            </form>

     </div>
</article>
{% endblock content %}