{% extends "blog/base.html" %}

{% block content %}
	{% for profile in profiles %}
            <div class="content-section">
                 <div class="media">
                      <img class="rounded-circle account-img" src="{{profile.image.url}}">
                         <div class="media-body">
                             <div class="col-8 mb-3">
                                 <dl class="row">
                                      <dt class="col-sm-3">Username</dt>
                                      <dd class="col-sm-9">{{profile.user}}</dd>
                                 </dl>

                                   <dl class="row">
                                      <dt class="col-sm-3">Name</dt>
                                      <dd class="col-sm-9">{{profile.user.first_name}} {{profile.user.last_name}}</dd>
                                 </dl>

                               </div>

                         </div>
                </div>
                <a class="btn btn-success mr-3" href="{% url 'profile-detail' profile.pk %}"> Detail </a>
            </div>
     	{% endfor %}

{% endblock content %}